.aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    background-color: #fff;
    padding: 3rem;
}

.logo {
    width: 3rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.link {
    display: block;
    padding: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.link.active {
    background-color: #0a877a;
}
.icon {
    fill: #979797;
}
.icon:hover {
    fill: #0a877a;
}
.active > .icon,
.active > .icon:hover {
    fill: #fff;
}

.account {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user {
    width: 3rem;
}
