.aside {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    background-color: #fff;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    height: 100vh;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0.1rem 0 0.5rem #0002;
}

.logo {
    width: 3rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link {
    display: block;
    padding: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.link.active {
    background-color: #0a877a;
}
.icon {
    fill: #979797;
}
.icon:hover {
    fill: #0a877a;
}
.active > .icon,
.active > .icon:hover {
    fill: #fff;
}

.account {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user {
    width: 3rem;
}
